<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles_main">
    <app-big-card photoCover="https://i.ytimg.com/vi/YSHDBB6id4A/maxresdefault.jpg" cardTitle="Gato Gato Gato Gato Gato"
      cardDescription="Pêlos vibrissas: Os bigodes dos gatos, chamados de vibrissas, são extremamente sensíveis e ajudam os gatos a detectar mudanças sutis no ambiente e na proximidade de objetos.">
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card cardTitle="Gato Gato Gato Gato Gato"
      photoCover="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_4x3.jpg">
    </app-small-card>
    <app-small-card cardTitle="Gato Gato Gato Gato Gato"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW6mI8xj0v33scsEXwwAq-sKjvnaeiQemgaA&usqp=CAU">
    </app-small-card>
    <app-small-card cardTitle="Gato Gato Gato Gato Gato"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdvBzlrLIgoP3ADYp_y0C1aVik9Ue1r7stsw&usqp=CAU">
    </app-small-card>
  </div>
</div>
